<p id="location">Please allow your location to see events near you!</p>
<div id="map"></div>
<div id="events"></div>

<script src="../../public/js/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGtuxJJ_8azkc7EEPAdlFLVd-eXk0mHzQ"></script>