<body>
  <div class="col-lg-6">
    <input type="text" class="form-control" placeholder="Atlanta, Chicago, Jacksonville" id="input-search">
  </div>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" id="btn-search" type="button">Search</button>
  </div>
  <p id="location">Please allow your location to see events near you!</p>
  <div id="map"></div>
  <div class='container'>
    <div id="events"></div>
  </div>
    
  <script src="/js/script.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGtuxJJ_8azkc7EEPAdlFLVd-eXk0mHzQ"></script>
</body>