{{!-- make sure to use bootstrap for UI responsiveness all html classes are curtailed to bootstrap --}}

<div class="row">
    <div class="card col-md-5">
        <h2 class="container-fluid card-header text-center text-white bg-primary">Login</h2>
        <div class="card-body">
            <form class="form login-form" id="login-form">
                <div class="form-group">
                    <label for="email-login">Email:</label>
                    <input class="form-input" type="text" id="email-login" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Please enter your email here." />
                </div>
                <div class="form-group">
                    <label for="password-login">Password:</label>
                    <input class="form-input" type="password" id="password-login" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Please enter your password here." />
                </div>
                <div class="form-group">
                    <button id="login-button" class="btn btn-primary" type="submit" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Click here to login!">Log in!</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card col-md-5 ms-2">
        <h2 class="card-header text-center text-white bg-primary">Sign up</h2>
        <div class="card-body">
            <form class="form signup-form" id="signup-form">
                <div class="form-group">
                    <label for="email-signup">Email:</label>
                    <input class="form-input" type="text" id="email-signup" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Please enter your email address here." />
                </div>
                <div class="form-group">
                    <label for="password-signup">Password:</label>
                    <input class="form-input" type="password" id="password-signup" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Please enter your desired password here. Min 8 characters." />
                </div>
                <div class="form-group">
                    <button id="signup-button" class="btn btn-primary" type="submit" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Click here to submit!">Sign up!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>