#map {
 frontEnd
    width: 500px;
    height: 400px;
  }

 body {
    background-color:black;
    color:white;
    height: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  header {
    background-color: rgb(19, 10, 7);
    background-image: url(https://img.freepik.com/free-vector/abstract-banner-background-with-red-shapes_1361-3348.jpg?size=626&ext=jpg); 
    font-size:25px;
    padding:0px;
    padding left: 0px;
    height:250px;
    height top:200px;

  }

  width: 500px;
  height: 400px;
}
